$white: #fff;
$green-222: #222a2c;
$white-f5f: #f5f4f2;
$white-3d4:#3d4a4d;
$greay-648 :#648992;
$bg-gradient: linear-gradient(152.92deg, #A78135 14.08%, #8E662A 39.15%, #C8A25E 58.22%, #DEB872 72.69%, #C7904D 87.53%);
